<div id="skill-{{searched_skill.id}}" class="col-md-4 well skill">
  <a class='delete' {{action 'delete'}}>Delete</a>
  <a class='edit' {{action 'edit'}}>Edit</a>
  <h1>{{searched_skill.skill.name}}</h1>
  <p class="description">{{searched_skill.description}}</p>
  <div class="actions">
    <a class='submit' {{action 'submit'}}>Submit</a>
  </div>
</div>
