<div id="skill-{{skill_user.id}}" class="col-md-4 skill">
  <div class="panel panel-default">
    <div id="name" class="panel-heading">{{skill_user.skill.name}}</div>
    <div class="panel-body">
      <a class='delete btn btn-default' {{action 'delete'}}>Delete</a>
      <a class='edit btn btn-default' {{action 'edit'}}>Edit</a>
      {{#if editing}}
        {{#em-form model=skill_user}}
          {{em-input canShowErrors=true property="description"
            label="Description" placeholder="Description"
            class="description"}}
        {{/em-form}}
      {{else}}
        <p class="description">{{skill_user.description}}</p>
      {{/if}}
      <div class="actions">
        <a class='submit btn btn-default' {{action 'submit'}}>Submit</a>
      </div>
    </div>
  </div>
</div>
